* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub-main {
    height: 80vh;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub-main > form {
    height: 70vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    box-shadow: 5px 5px 10px black;
}
.sub-main > form > h2 {
    margin-bottom: 3vh;
}
.form-control  {
    height: 5vh;
    width: 20vw;
    padding-left: 1vw;
}
.sub-main > form > button {
    height: 5vh;
    width: 21.2vw;
    background-color: blueviolet;
    border: 0;
    color: white;
    margin-top: 3vh;
    &:hover {
        opacity: .75;
    }
    &:active {
        background-color: #7500e3;
    }
}

